/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}


.document {
    display: flex;
}

.left-side {
    background-image: url(left-banner-background.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 25%;
    /* flex: 1 1 auto; */
    height: 100vh;
}

.text-and-logo {
    font-family: Norse-Bold;
    color: white;
    background-color: rgb(0 0 0 / 0.5);
    font-size: 80px;

    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.text-and-logo > * {
    flex: 0 0 auto;
}

.right-side {
/*     font-family: 'Courier New', Courier, monospace;
    font-weight: 900; */

    background-color: #F9FAFB;
    height: 100vh;
    width: 75%;
    /* flex: 3; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.right-side > div {
    display: flex;
    flex-direction: column;
}

.right-side > div > * {
    margin-left: 50px;
}

.form-wrapper {
    background-color: #FFFFFF;
    flex: 1 1 auto;

    display: flex;
    
    flex-flow: column;
    
    gap: 30px;

    filter: drop-shadow(0px 5px 3px #DADBDC);

}

.form-wrapper > h3 {
    margin-top: 20px;
}

.disclaimer-text {
    align-content: center;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 100px;
}

.disclaimer-text > h3 {
    width: 650px;
}

.disclaimer-text > h3 > em {
    font-style: italic;
}

.sign-up-form {
    display: flex;
    flex-flow: row nowrap;
    
    column-gap: 50px;
}

.sign-up-form > div {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    
}

.sign-up-form > div > * {
    gap: 100px 100px;
}

.sign-up-form > div > input {
    width: 200px;
    height: 25px;

    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

.sign-up-form > div > input:focus {
    border: 0.75px solid blue;
    outline: 0px;
    box-shadow: 3px 3px 4px 1px #DADBDC;
    /* filter: drop-shadow(5px 5px 10px #DADBDC); */
}

.disclaimer-text {
    flex: 2 1 auto;
}

.create-account-btn-and-log-in-prompt-div {
    background-color: #F9FAFB;
    flex: 2 1 auto;

    display: flex;
    flex-direction: column;
}

.create-account-btn {
    background-color: #596D48;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-start;

    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account-text {
    color: #E5E7EB;
    font-size: 15px;
}

.create-account-btn-and-log-in-prompt-div > p {
    font-size: 17px;
}

.login {
    color: #596D48;
    text-decoration: none;
}

h3 {
    font-weight: 900;
    font-size: x-large;
}